// .card {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   //   background: white;
//   padding: 0.5rem;
//   margin: 0.5rem 0;
//   border-radius: 4px;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
// }
// input {
//   border: none;
//   flex: 1;
//   padding: 1rem;
// }
// button {
//   background: none;
//   border: none;
//   cursor: pointer;
//   font-size: 2rem;
// }

.card {
  //   background: #ffffff;
  border-radius: 8px;
  padding: 10px 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

/* Left accent bar */
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  bottom: 8px;
  width: 4px;
  border-radius: 4px;
  background: #fbbc04; /* default accent */
}

/* Card input */
.card input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  background: transparent;
}

/* Delete button */
.card button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #f44336;
  font-size: 2rem;
  //   padding: 2px;
  opacity: 0.7;
}

.card button:hover {
  opacity: 1;
}
